body {
  font-family: 'Open Sans', serif;
  font-family: 'Work Sans', 'sans-serif';
  padding-top: 54px;
  color: #868e96;
  overflow-x: hidden;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-family: 'Work Sans', 'sans-serif';
  font-weight: 700;
  text-transform: uppercase;
  color: #495057;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #262626;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #262626;
}

.subheading {
  font-family: 'Work Sans', 'sans-serif';
}

#sideNav {
  border-bottom: 1px solid #dee2e6;
}

#sideNav .navbar-brand {
  color: #495057;
  width: auto;
  padding: 0;
}

#sideNav .wmletter {
  height: 50px;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
  color: #495057;
}

#sideNav > button {
  background: #495057;
}

#sideNav > button > span {
  color: #495057 !important;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    margin-right: 20px !important;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.store-container {
  width: 100%;
  min-width: 350px;
  overflow-y: scroll;
  height: 350px;
}

.store-container > ul {
  text-align: left;
  list-style: none;
  padding: 0 20px;
}

.store-container > ul > li {
  padding: 5px 0;
}

.store-container > ul > li > button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.2rem;
  color: #495057;
  transition: all .2s linear;
  padding: 0;
}

.store-container > ul > li > button:hover {
  color: #FC466B;
}

.store-list-header {
  background: #495057;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.gmaps-container {
  width: 100%;
  height: 350px;
}

#map {
  height: 100%;
}

@media (min-width: 768px) {
  .store-container {
    width: auto;
  }
  .store-container,
  .gmaps-container {
    height: 650px;
  }
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #fff !important;
}

.text-primary {
  color: #262626 !important;
}

a {
  color: #262626;
}

a:hover, a:focus, a:active {
  color: black;
}

.homepage-container {
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  position: inherit;
}

.home-overlay {
  background: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #495057;
}

.home-overlay > h1 {
  color: #495057 !important;
}

#home-btn {
  position: relative;
  transition: all .2s linear;
  background: none;
  width: 175px;
  text-align: center;
  border: 1px solid #495057;
  color: #495057;
}

#home-btn:hover {
  cursor: pointer;
  background: #495057;
  color: #fff;
}

video {
  display: none;
}

@media (min-width: 992px) {
  .homepage-container:before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top left, rgba(63, 94, 251, 0.7), rgba(252, 70, 107, 0.7));
  }
  .homepage-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .home-overlay {
    color: #fff;
  }
  .home-overlay > h1 {
    color: #fff !important;
  }
  #home-btn {
    border: 1px solid #fff;
    background: none;
    color: #fff;
  }
  #home-btn:hover {
    background: #fff;
    color: #495057;
  }
  video {
    display: block;
    margin-top: -5px;
    height: 100%;
    width: 177.77777778vh;
    min-height: 56.25vw;
    min-width: 100%;
  }
}
