#sideNav {
  // display: flex;
  .navbar-brand {
    color: $gray-700;
    width: auto;
    padding: 0;
  }

  .wmletter {
    height: 50px;
  }

  .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
    color: $gray-700;
    transition: all .2s linear;
  }

  .navbar-nav .nav-item .nav-link:hover {
    color: $main-pink;
  }

  border-bottom: 1px solid $gray-300;
    > button {
    // border: 1px solid $gray-700;
    background: $gray-700;
  }
}

.navbar-toggler-icon {
    color: $white !important;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    width: $sidebar-base-width;
    height: 100vh;
    .navbar-brand {
      display: flex;

      margin: auto auto 0;
      padding: 0.5rem;
      .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        margin-right: 20px !important;
        border: 0.5rem solid fade-out($white, 0.8);
      }
    }
    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;

      width: 100%;
      margin-bottom: auto;
      .navbar-nav {
        flex-direction: column;

        width: 100%;
        .nav-item {
          display: block;
          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}