#education {
    padding: 0 !important;
}

.css-slider-wrapper  {
  display: block;
  background: #FFF;
  overflow: hidden;
  position: relative; 
  height: 100vh;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: $gray-700;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  
  -webkit-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* slide background images */ 
.slide1 {background-image: url('../img/s1.jpg'); left: 0}
.slide2 {background-image: url('../img/s2.jpg'); left: 100%}
.slide3 {background-image: url('../img/s3.jpg'); left: 200%}
.slide4 {background-image: url('../img/s4.jpg'); left: 300%}

/* slider pagination */ 
.slider-pagination {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 1000;
}
.slider-pagination label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(255,255,255,0.2);
  margin: 0 2px;
  border: solid 1px rgba(255,255,255,0.4);
  cursor: pointer;
}

/* next and previous button*/
.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    z-index: 55;
}

.control label {
    z-index: 0;
    display: none;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    color: #FFF;
    cursor: pointer;
    opacity: 0.2;
    transition: all .2s linear;
}

.control label:hover {
    opacity: 0.5;
}
.next {
    right: 1%;
}
.previous {
    left: 1%;
}

/* sliding effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
 
 
/* next and previous will be  active when slider moving*/
.slide-radio1:checked ~ .next .numb2, 
.slide-radio2:checked ~ .next .numb3, 
.slide-radio3:checked ~ .next .numb4, 
.slide-radio2:checked ~ .previous .numb1, 
.slide-radio3:checked ~ .previous .numb2, 
.slide-radio4:checked ~ .previous .numb3 {
  display: block;
  z-index: 1
}
 
/* css for active current pagination */
.slide-radio1:checked ~ .slider-pagination .page1, 
.slide-radio2:checked ~ .slider-pagination .page2, 
.slide-radio3:checked ~ .slider-pagination .page3, 
.slide-radio4:checked ~ .slider-pagination .page4 {
  background: rgba(255,255,255,1)
}